* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.top-bar {
  background: #0f172a;
  color: white;
  padding: 16px 24px;
  font-size: 18px;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #f4f6f8;
}

.middle-section-login-form{
	position : absolute;
	top: 50%;
    right: 120px;
    transform: translateY(-50%);
	
	width: 400px;
	padding: 30px;
	border: 1px solid #ddd;
	border-radius: 10px;
	
	background-color: #fff;
	box-shadow: 0 8px 25px rgba(0,0,0,0.1)
}
form label{
	display: block;
	font-weight: bold;
	margin-bottom: 0px;
}

form input{
	width:100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid;
	border-radius: 5px;
}

form button{
	width: 100%;
	padding: 10px;
	
	background-color: black;
	color:white;
	border:none;
	border-radius: 5px;
	
	cursor: pointer;
}

form button:hover{
   background-color: #a00;
}

p {
   display: block;
   font-size:12px;
   color: black;
   margin-top:10px;
   text-align: center;
}	

