* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.top-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	
	width:100%;
	height:100px;
	background-color: grey;
	
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
}

.title {
  position : absolute;
  top: 40px;
  left: 40px;
  
  color: white;
  font-size: 26px;
  font-weight: bold;
  z-index: 2;
}

body {
  margin: 0;
  background-color: #f4f6f8;
}

.middle-section-login-form{
	position : absolute;
	top: 50%;
    right: 120px;
    transform: translateY(-50%);
	
	width: 400px;
	padding: 30px;
	border: 1px solid #ddd;
	border-radius: 10px;
	
	background-color: #fff;
	box-shadow: 0 8px 25px rgba(0,0,0,0.1)
}
form label{
	display: block;
	font-weight: bold;
	margin-bottom: 0px;
}

form input{
	width:100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid;
	border-radius: 5px;
}

form button{
	width: 100%;
	padding: 10px;
	
	background-color: black;
	color:white;
	border:none;
	border-radius: 5px;
	
	cursor: pointer;
}

form button:hover{
   background-color: #a00;
}

p {
   display: block;
   font-size:12px;
   color: black;
   margin-top:10px;
   text-align: center;
}	

.language-switch{
    display: flex;
    flex-direction: row;
	align-items: flex-end;
    margin-left : auto;
    color: white;
    font-size: 14px;
    gap: 4px
}

.language-switch a {
    display:flex;
	flex-direction : colum;
	gap: 4px;
	color: white;
	font-size:14px;
}

.language-switch a:hover {
    text-decoration: underline;
}
