* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f8;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #9e9e9e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  z-index: 1000;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.middle-section-login-form {
  position: absolute;
  top: 55%;        
  left: 50%;    
  transform: translate(-50%, -50%);
  
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #a00
}

p {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.language-switch a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}